<%= form_for(@person) do |f| %>
<%- if @person.errors.any? %>
<div class='row'>
  <div class='col-xs-12'>
    <div class='box box-danger'>
      <div class='box-header with-border'>
        <i class="fa fa-warning font-sm"></i>
        <%= t(:register_error) %>
      </div>
      <div class='box-body'>
        <div class='row'>
          <ul>
            <%- @person.errors.full_messages.each do |message| %>
            <li class='text-red'>
              <%= message %>
            </li>
            <%- end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- end %>
<div class='row'>
  <div class='col-xs-12'>
    <div class='box'>
      <div class='box-body'>
        <div class='col-lg-10'>
          <div class='form-group'>
            <%= f.label :name %>
            <%= f.text_field :name, { class: 'form-control', maxlength: 100 } %>
          </div>
        </div>
        <div class='col-lg-2'>
          <div class='form-group'>
            <%= f.label :person_type_id %>
            <%= f.collection_select :person_type_id, PersonType.all, :id, :value, { include_blank: true }, class: 'form-control' %>
          </div>
        </div>
        <div class='col-lg-1'>
          <div class='form-group'>
            <%= label_tag t(:cod) %>
            <%= f.text_field :metier_id, { class: 'form-control', disabled: true } %>
          </div>
        </div>
        <div class='col-lg-9'>
          <div class='form-group'>
            <%= f.label :metier_id %>
            <%= text_field_tag :metier_value, @person.metier.nil? ? '' : @person.metier.value, data: {autocomplete_source: metier_values_path}, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class='col-lg-2'>
          <div class='form-group'>
            <%= f.label :contact %>
            <%= f.text_field :contact, { class: 'form-control', maxlength: 150, disabled: true } %>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='form-group'>
            <%= f.label :birth %>
            <%= f.text_field :birth, value: date_format(@person.try(:birth)), class: 'form-control', alt: :date, disabled: true %>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='form-group'>
            <%= f.label :marital_status_id %>
            <%= f.collection_select :marital_status_id, MaritalStatus.all, :id, :value, { include_blank: true }, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='form-group'>
            <%= f.label :gender_id %>
            <%= f.collection_select :gender_id, Gender.order('value').all, :id, :value, { include_blank: true }, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class='col-lg-3'>
          <div class='form-group'>
            <%= f.label :politically_exposed_person %>
            <div class='input-group'>
              <span class='input-group-addon'>
                <%= f.check_box :politically_exposed_person, disabled: true %>
              </span>
              <%= f.text_field :politically_exposed_person, value: t(:politically_exposed_person), class: 'form-control', disabled: true %>
            </div>
          </div>
        </div>
        <div class='col-lg-9'>
          <div class='form-group'>
            <%= f.label :exposed_name %>
            <%= f.text_field :exposed_name, { class: 'form-control', maxlength: 150, disabled: true } %>
          </div>
        </div>
        <div class='col-lg-6'>
          <div class='form-group'>
            <%= f.label :occupation_id %>
            <%= f.collection_select :occupation_id, Occupation.order('value').all, :id, :value, { include_blank: true }, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class='col-lg-6'>
          <div class='form-group'>
            <%= f.label :salary_range_id %>
            <%= f.collection_select :salary_range_id, SalaryRange.all, :id, :value, { include_blank: true }, class: 'form-control', disabled: true %>
          </div>
        </div>
        <div class='col-lg-12 text-right'>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          <%= content_tag(:i, '', class:'fa fa-save') %>
          <%= t(:save) %>
          <%- end %> <%= link_to(content_tag(:i, '', class:'fa fa-caret-square-o-left') + ' ' + t(:back), people_path, { class: 'btn btn-default' }) %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>