<div class='row'>
  <div class='col-xs-12'>
    <div class='box'>
      <div class='box-header text-right'>
        <td><%= link_to(content_tag(:i, '', class:'fa fa-user') + ' ' + t(:include), new_person_path, { class: 'btn btn-primary' }) %></td>
      </div>
      <div class='box-body'>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th><%= t(:insured) %></th>
              <th><%= t(:person_type) %></th>
              <th><%= t(:contact) %></th>
              <th><%= t(:birth) %></th>
              <th><%= t(:marital_status) %></th>
              <th colspan='3'></th>
            </tr>
          </thead>
          <tbody>
            <% @people.each do |person| %>
            <tr>
              <td><%= person.name %></td>
              <td><%= person.person_type.value %></td>
              <td><%= person.contact %></td>
              <td><%= date_format(person.birth) %></td>
              <td><%= person.marital_status.nil? ? '-' : person.marital_status.value %></td>
              <td><%= link_to(content_tag(:i, '', class:'fa fa-pencil'), edit_person_path(person)) %></td>
              <td><%= link_to(content_tag(:i, '', class:'fa fa-remove'), person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red' ) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>