<%= form_for(@susep) do |f| %>
  <% if @susep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@susep.errors.count, "error") %> prohibited this susep from being saved:</h2>

      <ul>
      <% @susep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :insurer_id %><br>
    <%= f.text_field :insurer_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
