<p id="notice"><%= notice %></p>

<h1>Listing Insurers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Branch office</th>
      <th>Standard commission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurers.each do |insurer| %>
      <tr>
        <td><%= insurer.name %></td>
        <td><%= insurer.branch_office %></td>
        <td><%= insurer.standard_commission %></td>
        <td><%= link_to 'Show', insurer %></td>
        <td><%= link_to 'Edit', edit_insurer_path(insurer) %></td>
        <td><%= link_to 'Destroy', insurer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insurer', new_insurer_path %>
