<div class='row'>
  <div class='col-xs-12'>
    <div class='box'>
      <div class='box-header text-right'>
        <td><%= link_to(content_tag(:i, '', class:'fa fa-user') + ' ' + t(:include), new_proposal_path, { class: 'btn btn-primary' }) %></td>
      </div>
      <div class='box-body'>
        <table class='table table-hover'
          <thead>
            <tr>
              <th><%= t(:insured) %></th>
              <th><%= t(:current_insurer) %></th>
              <th><%= t(:susep) %></th>
              <th><%= t(:branch) %></th>
              <th><%= t(:start_validity) %></th>
              <th><%= t(:end_validity) %></th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @proposals.each do |proposal| %>
            <tr>
              <td><%= proposal.person.name %></td>
              <td><%= Insurer.where(id: proposal.current_insurer_id).select(:name).first.name %></td>
              <td><%= proposal.susep.value %></td>
              <td><%= proposal.branch.value %></td>
              <td><%= date_format(proposal.start_validity) %></td>
              <td><%= date_format(proposal.end_validity) %></td>
              <td><%= link_to(content_tag(:i, '', class:'fa fa-pencil'), edit_proposal_path(proposal)) %></td>
              <td><%= link_to(content_tag(:i, '', class:'fa fa-remove'), proposal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red' ) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>